pygame==1.9.3
pyserial==3.3
pyscreenshot==0.4.2
Flask==0.12.1
Flask-API==0.7.1
Flask-Responses==0.2
adium-theme-ubuntu==0.3.4
click==6.7
decorator==4.0.6
dicttoxml==1.7.4
EasyProcess==0.2.3
Flask==0.12.1
Flask-API==0.7.1
Flask-Responses==0.2
ipython==2.4.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.11.0
olefile==0.44
pexpect==4.0.1
Pillow==4.1.1
ptyprocess==0.5
pycurl==7.43.0
pygame==1.9.3
pyscreenshot==0.4.2
pyserial==3.3
python-apt==1.1.0b1
simplegeneric==0.8.1
unity-lens-photos==1.0
Werkzeug==0.12.2
